@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.voucher-container {
  @include mix.flex-column;
  gap: vars.$spacing-sm;
  padding: vars.$spacing-sm;
  background-color: vars.$color-background;
  border-radius: vars.$border-radius-md;
  margin-top: vars.$spacing-sm;
}

.voucher-input {
  @include mix.input-base;
  flex: 1;
}

.button-primary {
  @include mix.button-base;
} 