@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$color-pink: #D469A2;
$color-purple: #8D4B91;

:root {
    --cor-rosa:#D469A2;
    --cor-lilas:#8D4B91;
}