@import '../../styles/variables.scss';

.bem-especial-footer {
  background-color: $color-purple;
  color: white;
  padding: 3rem 0 2rem;
  margin-top: auto;
}

.footer-container {
  margin: 0;
  padding: 0 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer-disclaimer {
  font-size: 0.875rem;
  line-height: 1.4;
  color: white;
}

.footer-disclaimer p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 0.2rem;
  color: white;
}

.footer-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-links a {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}